<div class="container text-center">
  <h3 class="title">Add product</h3>
  <div class="row mb-3">
    <div class="col form-group">
      <label for="inputProduct">Input Product</label>
      <input type="text" class="form-control" id="inputProduct" placeholder="Input product name" [(ngModel)]="productName">
    </div>
    <div class="col-md-auto form-group">
      <label for="inputAmmount">Input ammount</label>
      <input type="number" class="form-control" id="inputAmmount" [(ngModel)]="productAmount" min="0">
    </div>
    <div class="col col-lg-2 align-self-end">
      <button class="btn btn-primary" (click)="createProduct()">Add</button>
    </div>
  </div>
  <hr>
  <h3 class="title">Shopping List</h3>
  <table class="table" *ngIf="shoppingList.length">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of shoppingList">
        <td>
          <i class="bi bi-trash clicable-icon" (click)="deleteProduct(product.id)"></i>
        </td>
        <td>{{product.name}}</td>
        <td>{{product.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>
