<div class="container text-center">
  <h3 class="title">Shopping List</h3>
  <hr>
  <div class="row">
    <div class="col form-group">
      <label for="inputProduct">Input Product</label>
      <input type="text" class="form-control" id="inputProduct" placeholder="Input product name">
    </div>
    <div class="col-md-auto form-group">
      <label for="inputAmmount">Input ammount</label>
      <input type="number" class="form-control" id="inputAmmount">
    </div>
    <div class="col col-lg-2 align-self-end">
      <button class="btn btn-primary">Add</button>
    </div>
  </div>
  <div>

  </div>
</div>
