<div class="container">
  <h1 class="title">{{title}}</h1>
  <div class="header mb-3">
    <button class="btn" [ngClass]="{'btn-secondary': recipesListVisible}" (click)="showRecipesList()">Recipes List</button>
    <button class="btn" [ngClass]="{'btn-secondary': shoppingListVisible}" (click)="showShoppingList()">Shopping List</button>
  </div>
  <div *ngIf="recipesListVisible">
    <app-recipes-list></app-recipes-list>
  </div>
  <div *ngIf="shoppingListVisible">
    <app-shopping-list></app-shopping-list>
  </div>
</div>
